@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.mentor-scroll-bar {
  scrollbar-width: auto;
  scrollbar-color: #0b3fc0;
}

/* Chrome, Edge, and Safari */
.mentor-scroll-bar::-webkit-scrollbar {
  width: 10px;
}

.mentor-scroll-bar::-webkit-scrollbar-track {
  background: #ffffff;
  border : 1px solid #F9A826;
  border-radius: 5px;
}

.mentor-scroll-bar::-webkit-scrollbar-thumb {
  background-color: #F9A826;
  border-radius: 5px;
  border: 1px solid #ffffff;
}
.profile-calendar{
  background-color: white;
  border: #dedede .1px solid;
  border-radius: 7px;
  padding:5px;
  margin-left: 5px;
  font-size: 14px;
}
.profile-timepicker{
  background-color: white;
  border: #dedede .1px solid;
  border-radius: 7px;
  padding:5px;
  margin-left: 5px;
  font-size: 14px;
}
.rmdp-time-picker div input{
  background-color: white;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
